<% if @user.errors.any? %>
	<h2>The following errors prevented from being saved</h2>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_with(model: @user, local: true) do |j| %>

  <p>
    <%= j.label :username %></br>
    <%= j.text_field :username %>
	</p>
	
	<p>
		<%= j.label :email %></br>
		<%= j.text_field :email %>
	</p>

	<p>
		<%= j.label :password %></br>
		<%= j.text_field :password %>
	</p>
    
    <p>
    <%= j.submit :Signup%>
    </p>

<% end %>